@page
@model BankStartWeb.Pages.Bank.Transactions.TransactionsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Operation</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
    </thead>


@*@foreach(var item in @Model.Transactions)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Type</td>
        <td>@item.Operation</td>
        <td>@item.Date</td>
        <td>@item.Amount</td>
        <td>@item.NewBalance</td>
    </tr>
}
*@

<tbody>
</tbody>
<a class="btn" href="javascript:fetchMore();">See more...</a>
</table>

@* <--- Ajax method ---> *@
@section Scripts
{
    <script>
        pageNo = 1;

        function fetchMore() {
            fetch("View?handler=FetchMore&pageNo=" + pageNo + "&transactionId=@Model.AccountId")
                .then((response) => response.json())
                .then((json) => {
                        pageNo = pageNo + 1;
                        json.items.forEach(tableElements);
                    }
                );
        }

        function tableElements(element) {
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
        <td>${element.Id}</td>
        <td>${element.Type}</td>
        <td>${element.Operation}</td>
        <td>${element.Date}</td>
        <td>${element.Amount}</td>
        <td>${element.NewBalance}</td>
        <td onclick="fetchEvaluation(${element.id}, this)">Beräkna värde</td>
    </tr>`;
        }

        document.addEventListener("DOMContentLoaded",
            function() {
                fetchMore();
            });

        function fetchEvaluation(id, elem) {
            fetch("View?handler=FetchValue&id=" + id)
                .then((response) => response.json())
                .then((json) => {
                        elem.innerHTML = json.value;
                    }
                );

        }
    </script>
}

    @*<a>Go Back</a> coming soon...*@ 