@page
@model BankStartWeb.Pages.Bank.Customer.CustomerModel

@{
}

<div class="row">
<div class="col-4 col-md-4 col-sm-6" >
	               <div class="team-member text-center">
						<div class="member-photo">
							<!-- member photo -->
							<img class="img-fluid" src="/images/team/member-2.jpg" alt="team people">
							<!-- /member photo -->
						</div>
						
						<!-- member name & designation -->
						<div class="member-content">
							<h2>@Model.Givenname @Model.Surname</h2>
							<h3>@Model.City , @Model.Streetaddress</h3>
                            <h3>Zipcode: @Model.Zipcode</h3>
                            <h3>Country: @Model.Country</h3>
                            <h3>Country code: @Model.CountryCode</h3>
                            <h3>National id: @Model.NationalId</h3>
                            <h3>Telephone: @Model.TelephoneCountryCode @Model.Telephone</h3>
                            <h3>Email: @Model.EmailAddress</h3>
                            <h3>Birthday: @Model.Birthday</h3> 
						</div>
						<!-- /member name & designation -->
					</div>
	            </div>
<!-- end team member -->

<div class="col-8">
    <a class="mt-1 btn btn-primary" asp-route-customerId="@Model.Id" asp-page="/Bank/Customer/AddAccount">Create New Account</a>

    <table class="table">
        <thead>
        <tr>
            <th>Account type</th>
            <th>Account balance</th>
            <th>Account created</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        @foreach (var account in @Model.Accounts)
        {
            <tr>
                <td>Account Type: @account.AccountType</td>
                <td>Balance: @account.Balance £</td>
                <td>Created: @account.Created</td>   
                <td><a title="Transactions" asp-route-accountId="@account.AccountId" asp-page="/Bank/Transactions/Transactions"><i class='text-dark h3 bx bx-list-ul' ></i></a></td>
                <td><a title="Edit" asp-route-customerId="@Model.Id" asp-route-accountId="@account.AccountId" asp-page="/Bank/Customer/EditAccount"><i class='text-dark h3 bx bx-edit'></i></a></td>
                <td><a title="Deposit" asp-route-accountId="@account.AccountId" asp-page="/Bank/Customer/Deposit"><i class='text-dark h3 bx bx-credit-card' ></i></a></td>
                <td><a title="Withdraw" asp-route-accountId="@account.AccountId" asp-page="/Bank/Customer/Withdraw"><i class='text-dark h3 bx bx-money-withdraw' ></i></a></td>
            </tr>
        }

    </table>
    <h3>Total balance: @Model.TotalBalance £</h3>
    </div>
</div>
			
				
				
                
                
  

@*<h2>@Model.Givenname @Model.Surname</h2>

<h3>City: @Model.City</h3>
<h3>Street: @Model.Streetaddress</h3>*@






<a asp-page="/Bank/Customers/Customers">Go Back</a>

